<header>
    <div id=header>
        <h1><a href='/'>ENDLESS WAR</a></h1>
        <span id="headerButtons">
            <a href=/market>
                <img id=header_mkt class=header_btn src="{{ url_for('static', filename='/img/style/nav/graphicon.png') }}" alt="Market Graphs" title="View stock market performance graphs.">
            </a>
            <a href=/news>
                <img id=header_news class=header_btn src="{{ url_for('static', filename='/img/style/nav/newsiconslime.png') }}" alt="News" title="View patchnotes and news.">
            </a>
            <a href=/guide>
                <img id=header_help class=header_btn src="{{ url_for('static', filename='/img/style/nav/helpicon.png') }}" alt="Guide" title="Learn to play the game.">
            </a>
            <a href=/map>
                <img id=header_map class=header_btn src="{{ url_for('static', filename='/img/style/nav/mapicon.png') }}" alt="Map" title="View the NLACakaNM Map.">
            </a>
            <a href=/stats>
                <img id=header_stats class=header_btn src="{{ url_for('static', filename='/img/style/nav/leaderboardicon.png') }}" alt="Leaderboards" title="Current live leaderboards.">
            </a>
        </span>
    </div>
    
    <span id=currenttime class=navhanger>
        It is currently <span id=timefield></span> in NLACakaNM.
        <script>
            var timefield = document.getElementById('timefield');
            function updateTime() {
                // Due to framework quirks, we generate url for interal pages
                const time_url = '{{ url_for("utils.time") }}';
                // Using the modern fetch API instead of jquery
                fetch(time_url)
                    .then(response => response.json())
                    // Grab the 'time' property from the response json and apply it to ourselves
                    .then(data => timefield.innerText = data.time);
            }
            updateTime();
            setInterval(updateTime, (60 * 1000));
        </script>
    </span>
    <span id=suggestfield class=navhanger>
        <a id=suggestlink>!suggest</a>
    
        <script>
            var suggestlink = document.getElementById('suggestlink');
        </script>
    </span>  
</header>